:root {
  /* Default & hovered link colors */
  --pf-v5-global--link--Color: #06c;
  --pf-v5-global--link--Color--hover: #004080;
  --pf-c-tabs__item--m-current__link--after--BorderColor: rgb(204, 0, 0);
  --pf-c-tabs__link--Color: #FFF;
  --pf-c-tabs__link--FontSize: 1rem;
  --pf-c-tabs__item--m-current__link--Color: #FFF;
  --pf-v5-c-form-control--hover--after--BorderBottomColor: #FFF;
  --pf-v5-c-form-control--focus--after--BorderBottomWidth: 3px;
  --pf-v5-c-card--BackgroundColor:#de0a31; 
}